:root {
  /* Define CSS variables for reusability */
  --icon-size: 32px;
  --primary-color: #4caf50;
  --popup-bg: rgba(0, 0, 0, 0.5);
  --text-color: white;
  --error-color: orange;
}

.toolbar-container {
  position: relative;
  display: inline-block;

  > .icon-toggle {
    width: var(--icon-size);
    height: var(--icon-size);
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 100;
    border-radius: 12px;
  }

  &:not(.layer-enabled).authenticated {
    .icon-toggle {
      filter: grayscale(100%);
    }
  }

  &:not(.authenticated) {
    .icon-toggle {
      /*filter: hue-rotate(50deg) saturate(200%);*/
    }
  }

  &.layer-enabled.authenticated {
    .icon-toggle {
      filter: hue-rotate(90deg);
    }
  }

  &:not(.layer-enabled) {
    .control .label {
      color: #ccc;
    }
  }

  &.opened {
    .popup-container {
      display: flex;
    }
  }

  &.authenticated {
    .popup-center {
      .error {
        display: none;
      }
      .control {
        display: flex;
      }
    }
  }

  &:not(.authenticated) {
    .popup-center {
      .control {
        display: none;
      }
      .error {
        display: block;
      }
    }
  }

  > .popup-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--popup-bg);
    color: var(--text-color);
    padding: 6px 10px;
    box-sizing: border-box;
    display: none;

    > .popup-left {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-left: var(--icon-size);

      > .label {
        font-size: 18px;
      }

      > .switch {
        position: relative;
        display: inline-block;
        width: 34px;
        height: 20px;

        > input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        > .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          transition: 0.4s;
          border-radius: 20px;

          &:before {
            position: absolute;
            content: '';
            height: 14px;
            width: 14px;
            left: 3px;
            bottom: 3px;
            background-color: var(--text-color);
            transition: 0.4s;
            border-radius: 50%;
          }
        }

        input:checked + .slider {
          background-color: var(--primary-color);
        }
        input:checked + .slider:before {
          transform: translateX(14px);
        }
      }
    }

    .popup-center {
      display: flex;
      align-items: center;
      gap: 25px;
      flex-grow: 1;
      justify-content: center;

      .error,
      .error a {
        color: var(--error-color);
        text-align: center;
      }

      .control {
        align-items: center;
        gap: 10px;

        select,
        input[type='range'] {
          background: transparent;
          color: var(--text-color);
          border: 1px solid var(--text-color);
          padding: 4px;
          border-radius: 4px;
          /*appearance: none;*/
          width: 100px;
        }

        .caption {
          width: 30px;
          font-size: 12px;
        }
      }
    }

    .popup-right {
      display: flex;
      align-items: center;
      gap: 10px;

      .btn-close {
        background: transparent;
        color: var(--text-color);
        border: none;
        font-size: 18px;
        cursor: pointer;
        padding: 4px 8px;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
