.extension-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 100;
}
.popup-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0);
  color: white;
  padding: 6px 10px;
  box-sizing: border-box;
}
.popup-left {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 35px;
}
.popup-left .label {
  font-size: 18px;
}
.popup-left .toggle-switch {
  display: flex;
  align-items: center;
  gap: 5px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}
.opacity-value {
  width: 30px;
  font-size: 12px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}
.slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #4caf50;
}
input:checked + .slider:before {
  transform: translateX(14px);
}
.popup-center {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
  justify-content: center;
}
.hint,
.hint a {
  color: orange;
}
.control {
  display: flex;
  align-items: center;
  gap: 5px;
}
.control.disabled {
  color: gray;
}
select,
input[type='range'] {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 4px;
  border-radius: 4px;
}
.popup-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout-btn {
  background: red;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}
.close-btn {
  background: transparent;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 4px 8px;
}
