body {
  .section.section-overlay-list {
    .disclosure-wrap::before {
      content: var(--overlays-opacity-help);
      padding-bottom: 8px;
      display: block;
    }
    h3::after {
      line-height: 22px;
      content: var(--overlays-opacity-summary);
      float: right;
      font-size: 12px;
      font-weight: 400;
    }
  }
  &.overlays-hidden {
    .layer.layer-overlay {
      display: none;
    }
    .layer-list.layer-overlay-list li label,
    .section.section-overlay-list h3 a {
      color: #888;
    }
  }

  /*&[class*='overlays-opacity-']:not(.overlays-hidden) {
    .layer.layer-overlay {
      opacity: var(--overlays-opacity);
    }
  }*/

  /*.layer-overlay {
    img[src*='heatmap-fallback'] {
      pointer-events: auto;
    }
  }*/
}
